#left-col h1 {
    color: 73937E;
    font-style: oblique;
}

#left-col {
    background-color: 5D5D81;
    height: 200vh;
    width: 20em;
}

body {
    background-color: 539987;
}

.pic {
    border-radius: 100%;
    margin-left: 40px;
}

#right-col h1 {
    color: CEB992;
    font-style: oblique;
}

#right-col {
    margin-left: 20em;
}

ul {
    list-style: circle; 
}

a {
    color: CEB992;
    font-style: oblique;
}

a:hover {
    color:cadetblue;
}

#right-col h2 {
    text-align: left;
    color: CEB992;
    font-style: oblique;
}

#right-col {
    text-align: center;
    text-align: justify;
    font-style: oblique;
}

#right-col h1 {
    text-align: center;
    
}
